<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-tags="#tags#" data-eqType="#eqType#" data-category="#category#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</a>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
		</strong>
	</center>
	<div class="center plugin-all" id="idActions#id#">
		<i class="fas fa-info-circle pull-right classTitreIcon#uid# classPage#id# cursor" title="Vers la page informations générales"></i>	
        <div class="content-xs">
				<div type="button" class="classBtnOnOff#id#" id="idBtnOnOff#id#"></div>
				<div class="status#id#"></div><br/>
				<div class="temp_ambiante#id#"><span id="idTempAmbiance#id#" class="cmd history cursor" data-cmd_id="#temperature_id#"></span> <br/> T° ambiante</div>
				<div class="temp_ambiante#id#"><span id="idTempGranules#id#" class="cmd history cursor" data-cmd_id="#temperature2_id#"></span> <br/> T° granulés</div>
				<div class="temp_ambiante#id#"><span id="idTempCombustion#id#" class="cmd history cursor" data-cmd_id="#temperature3_id#"></span> <br/> T° combustion</div>

				<div class="group_container">
					<div class="consigne_title"><i class="fas fa-thermometer-half"></i> consigne</div>
					<div class="consigne_all">
						<span type="button" class="cursor consigne-moins" id="idTempConsigneMoins#id#">-</span>
						<span class="consigne cmd history cursor" id="idTempConsigne#id#" data-cmd_id="#consigne_id#"></span>
						<span type="button" class="cursor consigne-plus" id="idTempConsignePlus#id#">+</span>
					</div>
				</div>
				<div class="group_container">
					<div class="consigne_title"><i class="fas fa-fire-alt"></i> puissance</div>
					<div class="consigne_all">
						<span type="button" class="cursor btnConsigne#id#" id="idPowerMoins#id#">-</span>
						<span class="consigne cmd history cursor" id="idPower#id#" data-cmd_id="#power_id#"></span>
						<span type="button" class="cursor btnConsigne#id#" id="idPowerPlus#id#">+</span>
					</div>
				</div>
				<div class="group_container">
					<div class="consigne_title"><i class="fas fa-fan"></i> ventilation</div>
					<div class="consigne_all">
						<span type="button" class="cursor btnConsigne#id#" id="idVentilationMoins#id#">-</span>
						<span class="consigne cmd history cursor" id="idVentilation#id#" data-cmd_id="#fan_id#"></span>
						<span type="button" class="cursor btnConsigne#id#" id="idVentilationPlus#id#">+</span>
					</div>
				</div>
				<img class="calendar" style="cursor: pointer;" width="100px" src="plugins/Palazzetti/core/config/calendar.png">
		</div>
	</div>
	<div id="idInfos#id#" style="display:none">
		<i class="fas fa-undo classTitreIcon#uid# classPage#id# pull-right cursor" title="Retour à la page principale"></i>
        <div id="idInfoValue#id#"></div>
        <table class="table table-condensed" id="table_Palazzetti_info">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
	            <tr>
                    <td colspan="2" style="background-color:#555">Poële #name_display#</td>
                </tr>
                <tr style="display:#heure_display#">
                    <td>Heure du poêle</td>
                    <td><span class="cmd" data-cmd_id="#heure_id#" data-time="heure"></span></td>
                </tr>
                <tr style="display:#heure_display#">
                    <td>Jour de la semaine</td>
                    <td><span class="cmd" data-cmd_id="#heure_id#" data-time="jour"></span></td>
                </tr>
	            <tr style="display:#consigne_display#">
                    <td>Température de consigne</td>
                    <td><span class="cmd" data-cmd_id="#consigne_id#"></span></td> 
                </tr>
	            <tr style="display:#temperature_display#">
                    <td>Température ambiante</td>
                    <td><span class="cmd" data-cmd_id="#temperature_id#"></span></td> 
                </tr>
	            <tr style="display:#temperature2_display#">
                    <td>Température granulés</td>
                    <td><span class="cmd" data-cmd_id="#temperature2_id#"></span></td> 
                </tr>
	            <tr style="display:#temperature3_display#">
                    <td>Température combustion</td>
                    <td><span class="cmd" data-cmd_id="#temperature2_id#"></span></td> 
                </tr>
	            <tr style="display:#fan_display#">
                    <td>Force ventilateur</td>
                    <td><span class="cmd" data-cmd_id="#fan_id#"></span></td> 
                </tr>
	            <tr style="display:#power_display#">
                    <td>Force du feu</td>
                    <td><span class="cmd" data-cmd_id="#power_id#"></span></td> 
                </tr>
	            <tr style="display:#status_display#">
                    <td>État du poêle</td>
                    <td><span class="cmd" data-cmd_id="#status_id#"></span></td> 
                </tr>
	            <tr style="display:#nbAll_display#">
                    <td>Nombre d'allumages</td>
                    <td><span class="cmd" data-cmd_id="#nbAll_id#"></span></td> 
                </tr>
	            <tr style="display:#hae_display#">
                    <td>Nombre d'heures alimentation électrique</td>
                    <td><span class="cmd" data-cmd_id="#hae_id#"></span></td> 
                </tr>
	            <tr style="display:#hc_display#">
                    <td>Nombre d'heures de chauffe</td>
                    <td><span class="cmd" data-cmd_id="#hc_id#"></span></td> 
                </tr>
	            <tr style="display:#hsc_display#">
                    <td>Nombre d'heures de surchauffe</td>
                    <td><span class="cmd" data-cmd_id="#hsc_id#"></span></td> 
                </tr>
	            <tr style="display:#hde_display#">
                    <td>Nombre d'heures depuis entretien</td>
                    <td><span class="cmd" data-cmd_id="#hde_id#"></span></td> 
                </tr>
	            <tr style="display:#hae_display#">
                    <td>Nombre d'allumages échoués</td>
                    <td><span class="cmd" data-cmd_id="#hae_id#"></span></td> 
                </tr>
	            <tr style="display:#pqt_display#">
                    <td>Quantité de pellets consommé</td>
                    <td><span class="cmd" data-cmd_id="#pqt_id#"></span></td> 
                </tr>
	            <tr>
                    <td colspan="2" style="background-color:#444">Connection box</td>
                </tr>
                <tr>
                    <td>Version plzbridge</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="plzbridge"></span></td>
                </tr>
                <tr>
                    <td>Version sendmsg</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="sendmsg"></span></td>
                </tr>
                <tr>
                    <td>Version SYSTEM</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="SYSTEM"></span></td>
                </tr>
                <tr>
                    <td>Version firmware</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="VER"></span></td>
                </tr>
                <tr>
                    <td>Date firmware</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="FWDATE"></span></td>
                </tr>
                <tr>
                    <td>Modèle</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="MOD"></span></td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:#333">Local ethernet</td>
                </tr>
                <tr>
                    <td>Serveur DNS</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="DNS"></span></td>
                </tr>
                <tr>
                    <td>Adresse IP</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="EADR"></span></td>
                </tr>
                <tr>
                    <td>Broadcast</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="EBCST"></span></td>
                </tr>
                <tr>
                    <td>Masque sous-réseau</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="EMSK"></span></td>
                </tr>
                <tr>
                    <td>Adresse mac</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="EMAC"></span></td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="PR"></span></td>
                </tr>
                <tr>
                    <td>Passerelle</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="EGW"></span></td>
                </tr>

                <tr>
                    <td colspan="2" style="background-color:#333">Local wifi</td>
                </tr>
                <tr>
                    <td>Adresse IP</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_ADDR"></span></td>
                </tr>
                <tr>
                    <td>Broadcast</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_BCAST"></span></td>
                </tr>
                <tr>
                    <td>Masque sous-réseau</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MASK"></span></td>
                </tr>
                <tr>
                    <td>Adresse mac</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MAC"></span></td>
                </tr>
                <tr>
                    <td>Mode</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_PROTO"></span></td>
                </tr>
                <tr>
                    <td>Passerelle</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_GW"></span></td>
                </tr>
                <tr>
                    <td>Mode wifi</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MODE"></span></td>
                </tr>
                <tr>
                    <td>Canal</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_CH"></span></td>
                </tr>
                <tr>
                    <td>SSID</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_SSID"></span></td>
                </tr>
                <tr>
                    <td>Type de cryptage</td>
                    <td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_ENC"></span></td>
                </tr>

            </tbody>
        </table>
	</div>
	<style>
		.plugin-all
		{
			display:flex;
			text-align:center;
			text-transform:uppercase;
			font-family:roboto;
		}
		.container {
			width:90%
			margin:auto;
		}
		.status#id#
		{
			text-align:center
		}
		.temp_ambiante#id#
		{
            width:100px;
			font-size:12px;
            display:inline-block;
		}
		.temp_consigne
		{
			float:right;
			font-size:12px;
			color: #f65858;
		}
		.group_container
		{
			padding-top:20px;
			clear:both;
		}
		.consigne_all
		{
			display:flex;
			margin:10px;
		}
		.consigne
		{
			font-family: 'Roboto';
			text-align:center;
			margin:auto;
			font-size: 28px;
			font-weight:bold;
		}
		.consigne-moins
		{
			margin:auto;
			font-size:24px;
			font-weight:bold;
		}
		.consigne-plus
		{
			margin:auto;
			font-size:24px;
			font-weight:bold;
		}
		.consigne_title
		{
			font-family:roboto;
			text-align:center;
			font-size:18px;
			text-transform:uppercase;
			font-weight:bold;
			clear:both;
		}

		.btnConsigne#id#
		{
			margin:auto;
			font-size:24px;
			font-weight:bold;
		}
      
        .successColor#id# {
            background-color:var(--al-success-color) !important;
        }
      
        .dangerColor#id# {
            background-color:var(--al-danger-color) !important;
        }
      
        .classBtnOnOff#id# {
            border-radius: var(--border-radius) !important;
            font-size: 12px;
            border: none;
            height: 28px;
            line-height: 18px;
            cursor: pointer !important;
            display: inline-block;
            padding: 6px 12px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            user-select: none;
            background-image: none;
            color:var(--linkHoverLight-color) !important;
        }
      
        .classBtnOnOff#id#:hover {
            opacity:.65;
            color: var(--linkHoverLight-color) !important;
        }
      
        .temp_ambiante#id# span.cmd {
            font-size: 18px;
            font-weight: 100;
        }
      
	</style>
	<script>		
      
        var dayNames#id# = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
        var statusCode#id# = {0:'Eteint',1:'Arrêté',2:'Vérification',3:'Chargement granulés',4:'Allumage',5:'Contrôle combustion',6:'En chauffe',9:'Diffusion',10:'Extinction',11:'Nettoyage',12:'Refroidissement',241:'Erreur Nettoyage',243:'Erreur Grille',244:'NTC2 ALARM',245:'NTC3 ALARM',247:'Erreur Porte',248:'Erreur Dépression',249:'NTC1 ALARM',250:'TC1 ALARM',252:'Erreur évacuation Fumée',253:'Pas de pellets'};
      
        // Afficher la page Actions et cacher la page Infos
        $('#idInfos#id#').hide();
        $('#idActions#id#').show();

        // Permuter les pages
        $('.classPage#id#').on('click', function() {
            $('#idInfos#id#').toggle();
            $('#idActions#id#').toggle();
			//$('#idInfoValue#id#').load('index.php?v=d&plugin=Palazzetti&modal=informations&id=#id#');
        });

        jeedom.cmd.update['#heure_id#'] = function(_options) {
            try {
                var date = JSON.parse(_options.display_value);
                $('.cmd[data-cmd_id=#heure_id#][data-time="heure"]').html(date.STOVE_DATETIME)
                $('.cmd[data-cmd_id=#heure_id#][data-time="jour"]').html(dayNames#id#[(parseInt(date.STOVE_WDAY) - 1)])
            } catch (e) {
            }
        }
		jeedom.cmd.update['#heure_id#']({display_value: '#heure#'});

        jeedom.cmd.update['#status_id#'] = function(_options) {
		    if (['0',0].includes(_options.display_value)) {
		        $('#idBtnOnOff#id#').addClass('successColor#id#').removeClass('dangerColor#id#').text('Démarrer'); 
            } else {
			    $('#idBtnOnOff#id#').addClass('dangerColor#id#').removeClass('successColor#id#').text('Arrêter'); 
            }
            $('.status#id#').html(statusCode#id#[_options.display_value]);
            $('.cmd[data-cmd_id=#status_id#]').html(statusCode#id#[_options.display_value]);
        }
		jeedom.cmd.update['#status_id#']({display_value: '#status#'});
		
		$('#idBtnOnOff#id#').on('click', function(){
			if($('#idBtnOnOff#id#').text() == "Arrêter") {
				jeedom.cmd.execute({id: '#off_id#'});
			} else if($('#idBtnOnOff#id#').text() == "Démarrer"){
				jeedom.cmd.execute({id: '#on_id#'});
			}
		});

        jeedom.cmd.update['#temperature_id#'] = function(_options) {
            $('#idTempAmbiance#id#').html(_options.display_value + ' <sup>#temperature_unite#</sup>');
            $('#idTempAmbiance#id#').attr('title', 'Date de collecte : '+_options.collectDate+'<br/>Date de valeur : '+_options.valueDate);
            $('.cmd[data-cmd_id=#temperature_id#]').html(_options.display_value + ' <sup>#temperature_unite#</sup>');
        }
		jeedom.cmd.update['#temperature_id#']({display_value: '#temperature#', valueDate: '#temperature_valueDate#', collectDate: '#temperature_collectDate#'});

        jeedom.cmd.update['#temperature2_id#'] = function(_options) {
            $('#idTempGranules#id#').html(_options.display_value + ' <sup>#temperature2_unite#</sup>');
            $('#idTempGranules#id#').attr('title', 'Date de collecte : '+_options.collectDate+'<br/>Date de valeur : '+_options.valueDate);
            $('.cmd[data-cmd_id=#temperature2_id#]').html(_options.display_value + ' <sup>#temperature2_unite#</sup>');
        }
		jeedom.cmd.update['#temperature2_id#']({display_value: '#temperature2#', valueDate: '#temperature2_valueDate#', collectDate: '#temperature2_collectDate#'});

        jeedom.cmd.update['#temperature3_id#'] = function(_options) {
            $('#idTempCombustion#id#').html(_options.display_value + ' <sup>#temperature3_unite#</sup>');
            $('#idTempCombustion#id#').attr('title', 'Date de collecte : '+_options.collectDate+'<br/>Date de valeur : '+_options.valueDate);
            $('.cmd[data-cmd_id=#temperature3_id#]').html(_options.display_value + ' <sup>#temperature3_unite#</sup>');
        }
		jeedom.cmd.update['#temperature3_id#']({display_value: '#temperature3#', valueDate: '#temperature3_valueDate#', collectDate: '#temperature3_collectDate#'});
      
        jeedom.cmd.update['#consigne_id#'] = function(_options) {
            $('#idTempConsigne#id#').html(_options.display_value + ' <sup>#consigne_unite#</sup>');
            $('#idTempConsigne#id#').attr('title', 'Date de collecte : '+_options.collectDate+'<br/>Date de valeur : '+_options.valueDate);
            $('.consigne[data-cmd_id=#consigne_id#]').html(_options.display_value + ' <sup>#consigne_unite#</sup>');
        }
		jeedom.cmd.update['#consigne_id#']({display_value: '#consigne#', valueDate: '#consigne_valueDate#', collectDate: '#consigne_collectDate#'});

        $('#idTempConsignePlus#id#').off().on('click', function () {
          var max = ('#consigne_maxValue#' == '') ? Number.MAX_VALUE : parseFloat('#consigne_maxValue#')
          var step = (isNaN(parseFloat('#consigne_step#'))) ? 1 : parseFloat('#consigne_step#')
          if (parseFloat($('#idTempConsigne#id#').val()) <= max - step ) {
            jeedom.cmd.update['#consigne_id#']({display_value:parseFloat($('#idTempConsigne#id#').val()) + step})
            $('#idTempConsigne#id#').trigger('change')
          }
        })

        $('#idTempConsigneMoins#id#').off().on('click', function () {
          var min = ('#consigne_minValue#' == '') ? Number.MIN_VALUE : parseFloat('#consigne_minValue#')
          var step = (isNaN(parseFloat('#consigne_step#'))) ? 1 : parseFloat('#consigne_step#')
          if (parseFloat($('#idTempConsigne#id#').val()) >= min + step) {
            jeedom.cmd.update['#consigne_id#']({display_value:parseFloat($('#idTempConsigne#id#').val()) - step})
            $('#idTempConsigne#id#').trigger('change')
          }
        })

        $('#idTempConsigne#id#').on('change', function () {
          if (typeof timerHandle#uid# !== 'undefined') {
            clearTimeout(timerHandle#uid#)
          }
          timerHandle#uid# = setTimeout(function() {
            jeedom.cmd.execute({id:'#consigneSet_id#', value: {slider: $('#idTempConsigne#id#').val().replace("#consigne_unite#", "").replace(" ", "")}})
          }, 1000)
        })

        jeedom.cmd.update['#power_id#'] = function(_options) {
            $('#idPower#id#').html(_options.display_value);
            if (parseInt(_options.display_value) == 5) {
				$('#idPowerPlus').addClass('disabled');
            }
            if (parseInt(_options.display_value) == 0) {
             	$('#idPowerMoins').addClass('disabled');
            }
            $('.consigne[data-cmd_id=#power_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#power_id#']({display_value: '#power#'});

        $('#idPowerPlus#id#').off().on('click', function () {
          var max = ('#power_maxValue#' == '') ? Number.MAX_VALUE : parseFloat('#power_maxValue#')
          var step = (isNaN(parseFloat('#power_step#'))) ? 1 : parseFloat('#power_step#')
          if (parseFloat($('#idPower#id#').val()) <= max - step ) {
            jeedom.cmd.update['#power_id#']({display_value:parseFloat($('#idPower#id#').val()) + step})
            $('#idPower#id#').trigger('change')
          }
        })

        $('#idPowerMoins#id#').off().on('click', function () {
          var min = ('#power_minValue#' == '') ? Number.MIN_VALUE : parseFloat('#power_minValue#')
          var step = (isNaN(parseFloat('#power_step#'))) ? 1 : parseFloat('#power_step#')
          if (parseFloat($('#idPower#id#').val()) >= min + step) {
            jeedom.cmd.update['#power_id#']({display_value:parseFloat($('#idPower#id#').val()) - step})
            $('#idPower#id#').trigger('change')
          }
        })

        $('#idPower#id#').on('change', function () {
          if (typeof timerHandle#uid# !== 'undefined') {
            clearTimeout(timerHandle#uid#)
          }
          timerHandle#uid# = setTimeout(function() {
            jeedom.cmd.execute({id:'#powerSet_id#', value: {slider: $('#idPower#id#').val().replace("#power_unite#", "").replace(" ", "")}})
          }, 1000)
        })
		
        jeedom.cmd.update['#fan_id#'] = function(_options) {
          console.log(_options)
            if (_options.display_value == 0) {
                $('#idVentilation#id#').html('OFF');
                $('#idVentilationPlus#id#').addClass('disabled');
                $('#idVentilationMoins#id#').addClass('disabled');
            } else if (_options.display_value == '6') {
                $('#idVentilation#id#').html('AUTO');
            } else if (_options.display_value == '7') {
                $('#idVentilation#id#').html('HIGH');
            } else {
                $('#idVentilation#id#').html(_options.display_value);
            }
            $('#idVentilation#id#').data('value',_options.display_value);
            $('.consigne[data-cmd_id=#fan_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#fan_id#']({display_value: '#fan#'});

        $('#idVentilationPlus#id#').off().on('click', function () {
          var max = ('#fan_maxValue#' == '') ? Number.MAX_VALUE : parseFloat('#fan_maxValue#')
          var step = (isNaN(parseFloat('#fan_step#'))) ? 1 : parseFloat('#fan_step#')
          if (parseFloat($('#idVentilation#id#').data('value') ) <= max - step ) {
            jeedom.cmd.update['#fan_id#']({display_value:parseFloat($('#idVentilation#id#').data('value') ) + step})
            $('#idVentilation#id#').trigger('change')
          }
        })

        $('#idVentilationMoins#id#').off().on('click', function () {
          var min = ('#fan_minValue#' == '') ? Number.MIN_VALUE : parseFloat('#fan_minValue#')
          var step = (isNaN(parseFloat('#fan_step#'))) ? 1 : parseFloat('#fan_step#')
          if (parseFloat($('#idVentilation#id#').data('value')) >= min + step) {
            jeedom.cmd.update['#fan_id#']({display_value:parseFloat($('#idVentilation#id#').data('value')) - step})
            $('#idVentilation#id#').trigger('change')
          }
        })

        $('#idVentilation#id#').on('change', function () {
          if (typeof timerHandle#uid# !== 'undefined') {
            clearTimeout(timerHandle#uid#)
          }
          timerHandle#uid# = setTimeout(function() {
            jeedom.cmd.execute({id:'#fanSet_id#', value: {slider: $('#idVentilation#id#').val().replace("#fan_unite#", "").replace(" ", "")}})
          }, 1000)
        })

        jeedom.cmd.update['#nbAll_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#nbAll_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#nbAll_id#']({display_value: '#nbAll#'});

        jeedom.cmd.update['#hae_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#hae_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#hae_id#']({display_value: '#hae#'});

        jeedom.cmd.update['#hc_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#hc_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#hc_id#']({display_value: '#hc#'});

        jeedom.cmd.update['#hsc_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#hsc_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#hsc_id#']({display_value: '#hsc#'});

        jeedom.cmd.update['#hde_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#hde_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#hde_id#']({display_value: '#hde#'});

        jeedom.cmd.update['#hae_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#hae_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#hae_id#']({display_value: '#hae#'});

        jeedom.cmd.update['#pqt_id#'] = function(_options) {
            $('.cmd[data-cmd_id=#pqt_id#]').html(_options.display_value);
        }
		jeedom.cmd.update['#pqt_id#']({display_value: '#pqt#'});


        jeedom.cmd.update['#network_id#'] = function(_options) {
            var network = '#network_id#';
            try {
                network = JSON.parse(_options.display_value);
            } catch (e) {
            }   
            $('.cmd[data-cmd_id=#network_id#][data-network="plzbridge"]').html(network.plzbridge);
            $('.cmd[data-cmd_id=#network_id#][data-network="sendmsg"]').html(network.sendmsg);
            $('.cmd[data-cmd_id=#network_id#][data-network="SYSTEM"]').html(network.SYSTEM);
            $('.cmd[data-cmd_id=#network_id#][data-network="VER"]').html(network.VER);
            $('.cmd[data-cmd_id=#network_id#][data-network="FWDATE"]').html(network.FWDATE);
            $('.cmd[data-cmd_id=#network_id#][data-network="MOD"]').html(network.MOD);
            $('.cmd[data-cmd_id=#network_id#][data-network="DNS"]').html(network.DNS[0]);
            $('.cmd[data-cmd_id=#network_id#][data-network="EADR"]').html(network.EADR);
            $('.cmd[data-cmd_id=#network_id#][data-network="EBCST"]').html(network.EBCST);
            $('.cmd[data-cmd_id=#network_id#][data-network="EMSK"]').html(network.EMSK);
            $('.cmd[data-cmd_id=#network_id#][data-network="EMAC"]').html(network.EMAC);
            $('.cmd[data-cmd_id=#network_id#][data-network="PR"]').html(network.PR);
            $('.cmd[data-cmd_id=#network_id#][data-network="EGW"]').html(network.EGW);
            if (network['WLAN0 Data']) {
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_ADDR"]').html(network['WLAN0 Data']['WLAN0_ADDR'])
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_BCAST"]').html(network['WLAN0 Data'].WLAN0_BCAST)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MASK"]').html(network['WLAN0 Data'].WLAN0_MASK)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MAC"]').html(network['WLAN0 Data'].WLAN0_MAC)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_PROTO"]').html(network['WLAN0 Data'].WLAN0_PROTO)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_GW"]').html(network['WLAN0 Data'].WLAN0_GW)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MODE"]').html(network['WLAN0 Data'].WLAN0_MODE)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_CH"]').html(network['WLAN0 Data'].WLAN0_CH)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_SSID"]').html(network['WLAN0 Data'].WLAN0_SSID)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_ENC"]').html(network['WLAN0 Data'].WLAN0_ENC)
            } else {
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_ADDR"]').html(network.WADR)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_BCAST"]').html(network.WBCST)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MASK"]').html(network.WMSK)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MAC"]').html(network.WMAC)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_PROTO"]').html(network.WPR)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_GW"]').html(network.WGW)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_MODE"]').html(network.WMODE)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_CH"]').html(network.WCH)
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_SSID"]').html(network.WSSID + ' (' + network.WPWR + ')')
                $('.cmd[data-cmd_id=#network_id#][data-network="WLAN0_ENC"]').html(network.WENC)
            }
        }
		jeedom.cmd.update['#network_id#']({display_value: '#network#'});

		/* planning */
		$('.eqLogic[data-eqLogic_id=#id#] .calendar').on('click', function () {
			$('#md_modal').dialog({title: "Planning horaires"});
				$('#md_modal').load('index.php?v=d&plugin=Palazzetti&modal=planning&id=#id#').dialog('open');
		});	

		/* refresh */
		$('.eqLogic[data-eqLogic_id=#id#] .refresh').on('click', function () {
			jeedom.cmd.execute({id: #refresh_id#});
		});
	</script>
</div>