<div class="eqLogic eqLogic-widget text-center allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class# #category#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <div class="widget-name">
    <span class="heating-history pull-left cursor" role="button" title="{{Ouvrir l'historique de chauffe}}" aria-label="{{Ouvrir l'historique de chauffe}}">
      <i class="fas fa-chart-area"></i>
    </span>
    <span style="color:#background-color#" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
	<div class="classActionPage#id#" id="idActions#id#">
		<i class="fas fa-info-circle pull-right classTitreIcon#uid# classPage#id# cursor" title="{{Vers la page informations générales}}"></i>
        <i class="lastCom#uid#">#lastCommunication#</i>
		<div class="classActions#id#">
			<div type="button" class="classBtnOnOff#id#" id="idBtnOnOff#id#"></div>
			<div class="status#id#"></div><br />
			<div class="classGroupTemp#id#"><span id="idTempAmbiance#id#" class="cmd history cursor" data-cmd_id="#temperature_id#"></span> <br /> {{T° ambiante}}</div>
			<div class="classGroupTemp#id#"><span id="idTempGranules#id#" class="cmd history cursor" data-cmd_id="#temperature2_id#"></span> <br /> {{T° granulés}}</div>
			<div class="classGroupTemp#id#"><span id="idTempCombustion#id#" class="cmd history cursor" data-cmd_id="#temperature3_id#"></span> <br /> {{T° combustion}}</div>

			<div class="classGroupConsigne#id#">
				<div class="classConsigneTitle#id#"><i class="fas fa-thermometer-half"></i> {{consigne}}</div>
				<div class="classConsigneAction#id#">
					<span type="button" class="cursor btnConsigne#id#" id="idTempConsigneMoins#id#">-</span>
					<span class="classConsigneCmd#id# cmd history cursor" id="idTempConsigne#id#" data-cmd_id="#consigne_id#"></span>
					<span type="button" class="cursor btnConsigne#id#" id="idTempConsignePlus#id#">+</span>
				</div>
			</div>
			<div class="classGroupConsigne#id#">
				<div class="classConsigneTitle#id#"><i class="fas fa-fire-alt"></i> {{puissance}}</div>
				<div class="classConsigneAction#id#">
					<span type="button" class="cursor btnConsigne#id#" id="idPowerMoins#id#">-</span>
					<span class="classConsigneCmd#id# cmd history cursor" id="idPower#id#" data-cmd_id="#power_id#"></span>
					<span type="button" class="cursor btnConsigne#id#" id="idPowerPlus#id#">+</span>
				</div>
			</div>
			<div class="classGroupConsigne#id#">
				<div class="classConsigneTitle#id#"><i class="fas fa-fan"></i> {{ventilation}}</div>
				<div class="classConsigneAction#id#">
					<span type="button" class="cursor btnConsigne#id#" id="idVentilationMoins#id#">-</span>
					<span class="classConsigneCmd#id# cmd history cursor" id="idVentilation#id#" data-cmd_id="#fan_id#"></span>
					<span type="button" class="cursor btnConsigne#id#" id="idVentilationPlus#id#">+</span>
				</div>
			</div>
            <?php if ('#invertFanSpeed#'=='1') { ?>
                <i class="wpalacontrolMenus#id# parameters fas fa-cog icon_green" title="{{Paramètres du poêle}}"></i>
            <?php } ?>
			<img class="calendar" style="cursor: pointer;" width="100px" src="plugins/Palazzetti/core/config/calendar.png">
            <?php if ('#invertFanSpeed#'=='1') { ?>
			    <i class="wpalacontrolMenus#id# hidden_parameters fas fa-cogs icon_orange" title="{{Paramètres cachés du poêle}}"></i>
            <?php } ?>
		</div>
	</div>
	<div id="idInfos#id#" style="display:none">
		<i class="fas fa-undo classTitreIcon#uid# classPage#id# pull-right cursor" title="{{Retour à la page principale}}"></i>
		<table class="table table-condensed" id="idTablePalazzettiInfo#id#">
			<thead>
				<tr>
					<th>{{Nom}}</th>
					<th>{{Valeur}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2" style="background-color:#CCC">{{Poêle}} #name_display#</td>
				</tr>
				<tr style="display:#heure_display#">
					<td>{{Heure du poêle}}</td>
					<td><span class="cmd" data-cmd_id="#heure_id#" data-time="heure"></span></td>
				</tr>
				<tr style="display:#heure_display#">
					<td>{{Jour de la semaine}}</td>
					<td><span class="cmd" data-cmd_id="#heure_id#" data-time="jour"></span></td>
				</tr>
				<tr style="display:#consigne_display#">
					<td>{{Température de consigne}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#consigne_id#"></span></td>
				</tr>
				<tr style="display:#temperature_display#">
					<td>{{Température ambiante}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#temperature_id#"></span></td>
				</tr>
				<tr style="display:#temperature2_display#">
					<td>{{Température granulés}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#temperature2_id#"></span></td>
				</tr>
				<tr style="display:#temperature3_display#">
					<td>{{Température combustion}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#temperature3_id#"></span></td>
				</tr>
				<tr style="display:#fan_display#">
					<td>{{Force ventilateur}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#fan_id#"></span></td>
				</tr>
				<tr style="display:#power_display#">
					<td>{{Force du feu}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#power_id#"></span></td>
				</tr>
				<tr style="display:#status_display#">
					<td>{{État du poêle}}</td>
					<td><span class="cmd" data-cmd_id="#status_id#"></span></td>
				</tr>
				<tr style="display:#nbAll_display#">
					<td>{{Nombre d'allumages}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#nbAll_id#"></span></td>
				</tr>
				<tr style="display:#hae_display#">
					<td>{{Nombre d'heures alimentation électrique}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#hae_id#"></span></td>
				</tr>
				<tr style="display:#hc_display#">
					<td>{{Nombre d'heures de chauffe}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#hc_id#"></span></td>
				</tr>
				<tr style="display:#hsc_display#">
					<td>{{Nombre de surchauffes}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#hsc_id#"></span></td>
				</tr>
				<tr style="display:#hde_display#">
					<td>{{Nombre d'heures depuis entretien}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#hde_id#"></span></td>
				</tr>
				<tr style="display:#haf_display#">
					<td>{{Nombre d'allumages échoués}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#haf_id#"></span></td>
				</tr>
				<tr style="display:#pqt_display#">
					<td>{{Quantité de pellets consommé}}</td>
					<td><span class="cmd cursor history" data-cmd_id="#pqt_id#"></span></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color:#CCC">{{Connection box}}</td>
				</tr>
				<div style="display:#network_display#">
					<tr>
						<td>{{Version plzbridge}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="plzbridge"></span></td>
					</tr>
					<tr>
						<td>{{Version sendmsg}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="sendmsg"></span></td>
					</tr>
					<tr>
						<td>{{Version SYSTEM}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="SYSTEM"></span></td>
					</tr>
					<tr>
						<td>{{Version firmware}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="VER"></span></td>
					</tr>
					<tr>
						<td>{{Modèle}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="MOD"></span></td>
					</tr>
					<tr>
						<td>{{Core}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="CORE"></span></td>
					</tr>
					<tr>
						<td>{{Date firmware}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="FWDATE"></span></td>
					</tr>
					<tr>
						<td colspan="2" style="background-color:#CCC">{{Local Ethernet}}</td>
					</tr>
					<tr>
						<td>{{Adresse IP}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="EADR"></span></td>
					</tr>
					<tr>
						<td>{{Masque sous-réseau}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="EMSK"></span></td>
					</tr>
					<tr>
						<td>{{Serveur DNS}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="DNS"></span></td>
					</tr>
					<tr>
						<td>{{Passerelle}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="EGW"></span></td>
					</tr>
					<tr>
						<td>{{Broadcast}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="EBCST"></span></td>
					</tr>
					<tr>
						<td>{{Adresse MAC}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="EMAC"></span></td>
					</tr>
					<tr>
						<td>{{Mode}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="PR"></span></td>
					</tr>

					<tr>
						<td colspan="2" style="background-color:#CCC">{{Local Wi-Fi}}</td>
					</tr>
					<tr>
						<td>{{Adresse IP}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_ADDR"></span></td>
					</tr>
					<tr>
						<td>{{Masque sous-réseau}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MASK"></span></td>
					</tr>
					<tr>
						<td>{{Passerelle}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_GW"></span></td>
					</tr>
					<tr>
						<td>{{Broadcast}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_BCAST"></span></td>
					</tr>
					<tr>
						<td>{{Adresse MAC}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MAC"></span></td>
					</tr>
					<tr>
						<td>{{Mode}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_PROTO"></span></td>
					</tr>
					<tr>
						<td>{{Mode Wi-Fi}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_MODE"></span></td>
					</tr>
					<tr>
						<td>{{Canal}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_CH"></span></td>
					</tr>
					<tr>
						<td>{{SSID}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_SSID"></span></td>
					</tr>
					<tr>
						<td>{{Type de cryptage}}</td>
						<td><span class="cmd" data-cmd_id="#network_id#" data-network="WLAN0_ENC"></span></td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>
    #divGraphInfo#
	<style>
        .lastCom#uid# {
            float: left;
            font-size: 11px;
        }
		.classTitreIcon#uid# {
			position: absolute;
			right: 0;
			z-index: 4;
		}

		.classActionPage#id# {
			text-transform: uppercase;
			font-family: roboto;
		}

		.classActions#id# {
			text-align: center;
			width: 100%;
			position: absolute;
		}

		.status#id# {
			text-align: center
		}

		.classGroupTemp#id# {
			width: 100px;
			font-size: 12px;
			display: inline-block;
		}

		.classGroupConsigne#id# {
			padding-top: 20px;
			clear: both;
		}

		.classConsigneTitle#id# {
			font-family: roboto;
			text-align: center;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			clear: both;
		}

		.classConsigneAction#id# {
			display: flex;
		}

		.classConsigneCmd#id# {
			font-family: 'Roboto';
			text-align: center;
			margin: auto;
			font-size: 28px;
			font-weight: bold;
		}

		.btnConsigne#id# {
			margin: auto;
			font-size: 40px;
			font-weight: bold;
		}

		.btnConsigne#id#:hover {
			opacity: .65;
		}

		.successColor#id# {
			background-color: var(--al-success-color) !important;
		}

		.dangerColor#id# {
			background-color: var(--al-danger-color) !important;
		}

		.classBtnOnOff#id# {
			border-radius: var(--border-radius) !important;
			font-size: 12px;
			border: none;
			height: 28px;
			line-height: 18px;
			cursor: pointer !important;
			display: inline-block;
			padding: 6px 12px;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			user-select: none;
			background-image: none;
			color: var(--linkHoverLight-color) !important;
		}

		.classBtnOnOff#id#:hover {
			opacity: .65;
			color: var(--linkHoverLight-color) !important;
		}

		.classGroupTemp#id# span.cmd {
			font-size: 18px;
			font-weight: 100;
		}

		[data-theme="core2019_Dark"] .classActions#id# {
			color: var(--sc-lightTxt-color) !important;
		}

		#idTablePalazzettiInfo#id# span.cmd {
			color: grey !important;
		}

        #idTablePalazzettiInfo#id# tr > td {
            text-align: left;
        }

        .wpalacontrolMenus#id# {
            font-size: 6em;
            cursor: pointer;
            vertical-align: middle;
            padding: 10px;
        }

        .wpalacontrolMenus#id#:hover {
            opacity: .65;
        }

        .eqLogic[data-eqLogic_uid="#uid#"] .calendar:hover {
            opacity: .65;
        }

		.eqLogic[data-eqLogic_uid="#uid#"] .heating-history {
			margin: 2px 5px;
		}

		.eqLogic[data-eqLogic_uid="#uid#"] .heating-history > i {
            color: orange !important;
		}

		.eqLogic[data-eqLogic_uid="#uid#"] .heating-history > i:hover {
            opacity: .65;
		}

	</style>
	<script>
		if (typeof jeedom.cmd.addUpdateFunction !== 'function') {
			jeedom.cmd.addUpdateFunction = function(id, func) {
				jeedom.cmd.update[id] = func;
			}
		}
		var dayNames#id# = ['{{Dimanche}}', '{{Lundi}}', '{{Mardi}}', '{{Mercredi}}', '{{Jeudi}}', '{{Vendredi}}', '{{Samedi}}'];
		var statusCode#id# = {
			0: '{{Eteint}}',
			1: '{{Arrêté}}',
			2: '{{Vérification}}',
			3: '{{Chargement granulés}}',
			4: '{{Allumage}}',
			5: '{{Contrôle combustion}}',
			6: '{{En chauffe}}',
			9: '{{Diffusion}}',
			10: '{{Extinction}}',
			11: '{{Nettoyage}}',
			12: '{{Refroidissement}}',
			241: '{{Erreur Nettoyage}}',
			243: '{{Erreur Grille}}',
			244: 'NTC2 ALARM',
			245: 'NTC3 ALARM',
			247: '{{Erreur Porte}}',
			248: '{{Erreur Dépression}}',
			249: 'NTC1 ALARM',
			250: 'TC1 ALARM',
			252: '{{Erreur évacuation Fumées}}',
			253: '{{Pas de pellets}}'
		};
		var widget#id# = document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"]');
		var byId#id# = function(id) {
			return document.getElementById(id);
		};
		var setText#id# = function(element, value) {
			if (element) element.textContent = value == null ? '' : value;
		};
		var setCommandText#id# = function(commandId, value) {
			if (!widget#id#) return;
			widget#id#.querySelectorAll('.cmd[data-cmd_id="' + commandId + '"]').forEach(function(element) {
				setText#id#(element, value);
			});
		};
		var setDisabled#id# = function(element, disabled) {
			if (!element) return;
			element.classList.toggle('disabled', disabled);
			element.style.opacity = disabled ? '.25' : '1';
		};
		var triggerChange#id# = function(element) {
			if (element) element.dispatchEvent(new Event('change', { bubbles: true }));
		};
		var setInformation#id# = function(commandId, value, unit, collectDate, valueDate) {
			if (!widget#id#) return;
			var element = widget#id#.querySelector('.cmd[data-cmd_id="' + commandId + '"]');
			if (!element) return;
			setText#id#(element, value + ' ' + unit);
			element.title = '{{Date de collecte}} : ' + collectDate + '<br/>{{Date de valeur}} : ' + valueDate;
		};
		var addPalazzettiUpdateFunction#id# = function(commandId, callback) {
			jeedom.cmd.addUpdateFunction(commandId, function(options) {
				if (options && options.collectDate && widget#id#) {
					setText#id#(widget#id#.querySelector('.lastCom#uid#'), options.collectDate);
				}
				callback(options || {});
			});
		};

		// Afficher la page Actions et cacher la page Infos
		var infoPage#id# = byId#id#('idInfos#id#');
		var actionsPage#id# = byId#id#('idActions#id#');
		if (infoPage#id#) infoPage#id#.style.display = 'none';
		if (actionsPage#id#) actionsPage#id#.style.display = '';

		// Permuter les pages
		document.querySelectorAll('.classPage#id#').forEach(function(element) {
			element.addEventListener('click', function() {
				var showInformation = infoPage#id# && window.getComputedStyle(infoPage#id#).display === 'none';
				if (infoPage#id#) infoPage#id#.style.display = showInformation ? '' : 'none';
				if (actionsPage#id#) actionsPage#id#.style.display = showInformation ? 'none' : '';
			});
		});

		addPalazzettiUpdateFunction#id#('#heure_id#', function(_options) {
			try {
				var date = JSON.parse(_options.display_value);
				setText#id#(document.querySelector('#idTablePalazzettiInfo#id# .cmd[data-cmd_id="#heure_id#"][data-time="heure"]'), date.STOVE_DATETIME);
				setText#id#(document.querySelector('#idTablePalazzettiInfo#id# .cmd[data-cmd_id="#heure_id#"][data-time="jour"]'), dayNames#id#[parseInt(date.STOVE_WDAY)]);
			} catch (e) {}
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#heure_id#',
			display_value: #heure_js#
		}]);

		addPalazzettiUpdateFunction#id#('#status_id#', function(_options) {
			var onOffButton = byId#id#('idBtnOnOff#id#');
			if (['0', 0].includes(_options.display_value)) {
				onOffButton?.classList.add('successColor#id#');
				onOffButton?.classList.remove('dangerColor#id#');
				setText#id#(onOffButton, '{{Démarrer}}');
			} else {
				onOffButton?.classList.add('dangerColor#id#');
				onOffButton?.classList.remove('successColor#id#');
				setText#id#(onOffButton, '{{Arrêter}}');
			}
			document.querySelectorAll('.status#id#').forEach(function(element) {
				setText#id#(element, statusCode#id#[_options.display_value]);
			});
			setCommandText#id#('#status_id#', statusCode#id#[_options.display_value]);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#status_id#',
			display_value: #status_js#
		}]);

		var onOffButton#id# = byId#id#('idBtnOnOff#id#');
		if (onOffButton#id#) onOffButton#id#.onclick = function() {
			if (onOffButton#id#.textContent == "{{Arrêter}}") {
				jeedom.cmd.execute({
					id: '#off_id#'
				});
			} else if (onOffButton#id#.textContent == "{{Démarrer}}") {
				jeedom.cmd.execute({
					id: '#on_id#'
				});
			}
		};

		addPalazzettiUpdateFunction#id#('#temperature_id#', function(_options) {
			var element = byId#id#('idTempAmbiance#id#');
			setText#id#(element, _options.display_value + ' ' + #temperature_unite_js#);
			if (element) {
				element.title = '{{Date de collecte}} : ' + _options.collectDate + '<br/>{{Date de valeur}} : ' + _options.valueDate;
				element.style.setProperty('color', 'var(--logo-primary-color)', 'important');
			}
			setCommandText#id#('#temperature_id#', _options.display_value + ' ' + #temperature_unite_js#);
			setTimeout(function() {
				element?.style.removeProperty('color');
				jeedomUtils.initTooltips();
			}, 1000);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#temperature_id#',
			display_value: #temperature_js#,
			valueDate: #temperature_valueDate_js#,
			collectDate: #temperature_collectDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#temperature2_id#', function(_options) {
			var element = byId#id#('idTempGranules#id#');
			setText#id#(element, _options.display_value + ' ' + #temperature2_unite_js#);
			if (element) {
				element.title = '{{Date de collecte}} : ' + _options.collectDate + '<br/>{{Date de valeur}} : ' + _options.valueDate;
				element.style.setProperty('color', 'var(--logo-primary-color)', 'important');
			}
			setCommandText#id#('#temperature2_id#', _options.display_value + ' ' + #temperature2_unite_js#);
			setTimeout(function() {
				element?.style.removeProperty('color');
				jeedomUtils.initTooltips();
			}, 1000);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#temperature2_id#',
			display_value: #temperature2_js#,
			valueDate: #temperature2_valueDate_js#,
			collectDate: #temperature2_collectDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#temperature3_id#', function(_options) {
			var element = byId#id#('idTempCombustion#id#');
			setText#id#(element, _options.display_value + ' ' + #temperature3_unite_js#);
			if (element) {
				element.title = '{{Date de collecte}} : ' + _options.collectDate + '<br/>{{Date de valeur}} : ' + _options.valueDate;
				element.style.setProperty('color', 'var(--logo-primary-color)', 'important');
			}
			setCommandText#id#('#temperature3_id#', _options.display_value + ' ' + #temperature3_unite_js#);
			setTimeout(function() {
				element?.style.removeProperty('color');
				jeedomUtils.initTooltips();
			}, 1000);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#temperature3_id#',
			display_value: #temperature3_js#,
			valueDate: #temperature3_valueDate_js#,
			collectDate: #temperature3_collectDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#consigne_id#', function(_options) {
			var element = byId#id#('idTempConsigne#id#');
			setText#id#(element, _options.display_value + ' ' + #consigne_unite_js#);
			if (element) element.title = '{{Date de collecte}} : ' + _options.collectDate + '<br/>{{Date de valeur}} : ' + _options.valueDate;
			setCommandText#id#('#consigne_id#', _options.display_value + ' ' + #consigne_unite_js#);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#consigne_id#',
			display_value: #consigne_js#,
			valueDate: #consigne_valueDate_js#,
			collectDate: #consigne_collectDate_js#
		}]);

		var setpoint#id# = byId#id#('idTempConsigne#id#');
		var setpointPlus#id# = byId#id#('idTempConsignePlus#id#');
		if (setpointPlus#id#) setpointPlus#id#.onclick = function() {
			var max = (#consigne_maxValue_js# === '') ? Number.MAX_VALUE : parseFloat(#consigne_maxValue_js#)
			var step = isNaN(parseFloat(#consigne_step_js#)) ? 1 : parseFloat(#consigne_step_js#)
			if (parseFloat(setpoint#id#.textContent) <= max - step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#consigne_id#',
					display_value: parseFloat(setpoint#id#.textContent) + step
				}]);
				triggerChange#id#(setpoint#id#);
			}
		};

		var setpointMinus#id# = byId#id#('idTempConsigneMoins#id#');
		if (setpointMinus#id#) setpointMinus#id#.onclick = function() {
			var min = (#consigne_minValue_js# === '') ? -Number.MAX_VALUE : parseFloat(#consigne_minValue_js#)
			var step = isNaN(parseFloat(#consigne_step_js#)) ? 1 : parseFloat(#consigne_step_js#)
			if (parseFloat(setpoint#id#.textContent) >= min + step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#consigne_id#',
					display_value: parseFloat(setpoint#id#.textContent) - step
				}]);
				triggerChange#id#(setpoint#id#);
			}
		};

		if (setpoint#id#) setpoint#id#.onchange = function() {
			if (typeof timerHandle#uid# !== 'undefined') {
				clearTimeout(timerHandle#uid#)
			}
			timerHandle#uid# = setTimeout(function() {
				jeedom.cmd.execute({
					id: '#consigneSet_id#',
					value: {
						slider: parseFloat(setpoint#id#.textContent)
					}
				})
			}, 1000)
		};

		addPalazzettiUpdateFunction#id#('#power_id#', function(_options) {
			setText#id#(byId#id#('idPower#id#'), _options.display_value);
			setDisabled#id#(byId#id#('idPowerPlus#id#'), false);
			setDisabled#id#(byId#id#('idPowerMoins#id#'), false);
			if (parseInt(_options.display_value) == 5) {
				setDisabled#id#(byId#id#('idPowerPlus#id#'), true);
			} else if (parseInt(_options.display_value) == 1) {
				setDisabled#id#(byId#id#('idPowerMoins#id#'), true);
			}
			setCommandText#id#('#power_id#', _options.display_value);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#power_id#',
			display_value: #power_js#
		}]);

		var power#id# = byId#id#('idPower#id#');
		var powerPlus#id# = byId#id#('idPowerPlus#id#');
		if (powerPlus#id#) powerPlus#id#.onclick = function() {
			var max = (#power_maxValue_js# === '') ? Number.MAX_VALUE : parseFloat(#power_maxValue_js#)
			var step = isNaN(parseFloat(#power_step_js#)) ? 1 : parseFloat(#power_step_js#)
			if (parseFloat(power#id#.textContent) <= max - step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#power_id#',
					display_value: parseFloat(power#id#.textContent) + step
				}]);
				triggerChange#id#(power#id#);
			}
		};

		var powerMinus#id# = byId#id#('idPowerMoins#id#');
		if (powerMinus#id#) powerMinus#id#.onclick = function() {
			var min = (#power_minValue_js# === '') ? -Number.MAX_VALUE : parseFloat(#power_minValue_js#)
			var step = isNaN(parseFloat(#power_step_js#)) ? 1 : parseFloat(#power_step_js#)
			if (parseFloat(power#id#.textContent) >= min + step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#power_id#',
					display_value: parseFloat(power#id#.textContent) - step
				}]);
				triggerChange#id#(power#id#);
			}
		};

		if (power#id#) power#id#.onchange = function() {
			if (typeof timerHandle#uid# !== 'undefined') {
				clearTimeout(timerHandle#uid#)
			}
			timerHandle#uid# = setTimeout(function() {
				jeedom.cmd.execute({
					id: '#powerSet_id#',
					value: {
						slider: parseFloat(power#id#.textContent)
					}
				})
			}, 1500)
		};

		addPalazzettiUpdateFunction#id#('#fan_id#', function(_options) {
			var fan = byId#id#('idVentilation#id#');
			setDisabled#id#(byId#id#('idVentilationMoins#id#'), false);
			setDisabled#id#(byId#id#('idVentilationPlus#id#'), false);
			if (_options.display_value == 0) {
				if (#invertFanSpeed_js# == '1') {
					setText#id#(fan, 'AUTO');
					setDisabled#id#(byId#id#('idVentilationPlus#id#'), true);
                } else {
					setText#id#(fan, 'OFF');
					setDisabled#id#(byId#id#('idVentilationMoins#id#'), true);
                }
			} else if (_options.display_value == 6) {
				setText#id#(fan, 'HIGH');
			} else if (_options.display_value == 7) {
				if (#invertFanSpeed_js# == '1') {
					setText#id#(fan, 'OFF');
					setDisabled#id#(byId#id#('idVentilationMoins#id#'), true);
                } else {
					setText#id#(fan, 'AUTO');
					setDisabled#id#(byId#id#('idVentilationPlus#id#'), true);
                }
			} else {
				setText#id#(fan, _options.display_value);
			}
			if (fan) fan.dataset.value = _options.display_value;
			setText#id#(document.querySelector('#idTablePalazzettiInfo#id# .cmd[data-cmd_id="#fan_id#"]'), _options.display_value);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#fan_id#',
			display_value: #fan_js#
		}]);

		var fan#id# = byId#id#('idVentilation#id#');
		var fanPlus#id# = byId#id#('idVentilationPlus#id#');
		if (fanPlus#id#) fanPlus#id#.onclick = function() {
			var max = (#fan_maxValue_js# === '') ? Number.MAX_VALUE : parseFloat(#fan_maxValue_js#)
			var step = isNaN(parseFloat(#fan_step_js#)) ? 1 : parseFloat(#fan_step_js#)
			if (parseFloat(fan#id#.dataset.value) <= max - step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#fan_id#',
					display_value: parseFloat(fan#id#.dataset.value) + step
				}]);
				triggerChange#id#(fan#id#);
			}
		};

		var fanMinus#id# = byId#id#('idVentilationMoins#id#');
		if (fanMinus#id#) fanMinus#id#.onclick = function() {
			var min = (#fan_minValue_js# === '') ? -Number.MAX_VALUE : parseFloat(#fan_minValue_js#)
			var step = isNaN(parseFloat(#fan_step_js#)) ? 1 : parseFloat(#fan_step_js#)
			if (parseFloat(fan#id#.dataset.value) >= min + step) {
				jeedom.cmd.refreshValue([{
					cmd_id: '#fan_id#',
					display_value: parseFloat(fan#id#.dataset.value) - step
				}]);
				triggerChange#id#(fan#id#);
			}
		};

		if (fan#id#) fan#id#.onchange = function() {
			if (typeof timerHandle#uid# !== 'undefined') {
				clearTimeout(timerHandle#uid#)
			}
			timerHandle#uid# = setTimeout(function() {
				jeedom.cmd.execute({
					id: '#fanSet_id#',
					value: {
						slider: fan#id#.dataset.value
					}
				})
			}, 1500)
		};

		addPalazzettiUpdateFunction#id#('#nbAll_id#', function(_options) {
			setInformation#id#('#nbAll_id#', _options.display_value, #nbAll_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#nbAll_id#',
			display_value: #nbAll_js#,
			collectDate: #nbAll_collectDate_js#,
			valueDate: #nbAll_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#haf_id#', function(_options) {
			setInformation#id#('#haf_id#', _options.display_value, #haf_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#haf_id#',
			display_value: #haf_js#,
			collectDate: #haf_collectDate_js#,
			valueDate: #haf_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#hc_id#', function(_options) {
			setInformation#id#('#hc_id#', _options.display_value, #hc_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#hc_id#',
			display_value: #hc_js#,
			collectDate: #hc_collectDate_js#,
			valueDate: #hc_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#hsc_id#', function(_options) {
			setInformation#id#('#hsc_id#', _options.display_value, #hsc_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#hsc_id#',
			display_value: #hsc_js#,
			collectDate: #hsc_collectDate_js#,
			valueDate: #hsc_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#hde_id#', function(_options) {
			setInformation#id#('#hde_id#', _options.display_value, #hde_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#hde_id#',
			display_value: #hde_js#,
			collectDate: #hde_collectDate_js#,
			valueDate: #hde_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#hae_id#', function(_options) {
			setInformation#id#('#hae_id#', _options.display_value, #hae_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#hae_id#',
			display_value: #hae_js#,
			collectDate: #hae_collectDate_js#,
			valueDate: #hae_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#pqt_id#', function(_options) {
			setInformation#id#('#pqt_id#', _options.display_value, #pqt_unit_js#, _options.collectDate, _options.valueDate);
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#pqt_id#',
			display_value: #pqt_js#,
			collectDate: #pqt_collectDate_js#,
			valueDate: #pqt_valueDate_js#
		}]);

		addPalazzettiUpdateFunction#id#('#network_id#', function(_options) {
			var network = {};
			try {
				network = JSON.parse(_options.display_value);
			} catch (e) {
				network = {};
			}
			if (!network || typeof network !== 'object') network = {};
			if (!Array.isArray(network.DNS)) network.DNS = network.DNS ? [network.DNS] : [];
			var setNetworkValue = function(key, value) {
				if (!widget#id#) return;
				widget#id#.querySelectorAll('.cmd[data-cmd_id="#network_id#"][data-network="' + key + '"]').forEach(function(element) {
					setText#id#(element, value);
				});
			};
			['plzbridge', 'sendmsg', 'SYSTEM', 'VER', 'MOD', 'CORE', 'FWDATE', 'EADR', 'EBCST', 'EMSK', 'EMAC', 'PR', 'EGW'].forEach(function(key) {
				setNetworkValue(key, network[key]);
			});
			setNetworkValue('DNS', network.DNS[0] || '');
			var wlan = network['WLAN0 Data'];
			var wlanValues = wlan ? {
				WLAN0_ADDR: wlan.WLAN0_ADDR,
				WLAN0_BCAST: wlan.WLAN0_BCAST,
				WLAN0_MASK: wlan.WLAN0_MASK,
				WLAN0_MAC: wlan.WLAN0_MAC,
				WLAN0_PROTO: wlan.WLAN0_PROTO,
				WLAN0_GW: wlan.WLAN0_GW,
				WLAN0_MODE: wlan.WLAN0_MODE,
				WLAN0_CH: wlan.WLAN0_CH,
				WLAN0_SSID: wlan.WLAN0_SSID,
				WLAN0_ENC: wlan.WLAN0_ENC
			} : {
				WLAN0_ADDR: network.WADR,
				WLAN0_BCAST: network.WBCST,
				WLAN0_MASK: network.WMSK,
				WLAN0_MAC: network.WMAC,
				WLAN0_PROTO: network.WPR,
				WLAN0_GW: network.WGW,
				WLAN0_MODE: network.WMODE,
				WLAN0_CH: network.WCH,
				WLAN0_SSID: (network.WSSID || '') + (network.WPWR == null ? '' : ' (' + network.WPWR + ')'),
				WLAN0_ENC: network.WENC
			};
			Object.keys(wlanValues).forEach(function(key) {
				setNetworkValue(key, wlanValues[key]);
			});
		});
		jeedom.cmd.refreshValue([{
			cmd_id: '#network_id#',
			display_value: #network_js#
		}]);

			(function() {
				var widget = document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"]');
				widget?.querySelector('.parameters')?.addEventListener('click', function() {
					jeeDialog.dialog({id: 'md_palazzettiWidgetParameters#id#', title: '{{Paramètres du poêle}}', contentUrl: 'index.php?v=d&plugin=Palazzetti&modal=parametres&id=#id#'});
				});
				widget?.querySelector('.calendar')?.addEventListener('click', function() {
					jeeDialog.dialog({id: 'md_palazzettiWidgetPlanning#id#', title: '{{Planning horaires}}', contentUrl: 'index.php?v=d&plugin=Palazzetti&modal=planning&id=#id#'});
				});
				widget?.querySelector('.hidden_parameters')?.addEventListener('click', function() {
					jeeDialog.dialog({id: 'md_palazzettiWidgetHiddenParameters#id#', title: '{{Paramètres cachés du poêle}}', contentUrl: 'index.php?v=d&plugin=Palazzetti&modal=hidden.parametres&id=#id#'});
				});
				widget?.querySelector('.heating-history')?.addEventListener('click', function(event) {
					event.stopPropagation();
					jeeDialog.dialog({
						id: 'md_palazzettiWidgetHeatingHistory#id#',
						title: '{{Historique de chauffe Palazzetti}}',
						size: 'large',
						contentUrl: 'index.php?v=d&plugin=Palazzetti&modal=heating.history&id=#id#'
					});
				});
			})();


		/* refresh */
        if ('#refresh_id#' != '') {
          document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh')?.addEventListener('click', function() {
            jeedom.cmd.execute({ id: '#refresh_id#' })
          })
        } else {
          document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh')?.remove()
        }
	</script>
</div>
